.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 32px;
}

.u-section-1 .u-text-1 {
  margin: 8px 1065px 0 -75px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 40px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 760px;
    margin-bottom: 8px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 540px;
    margin-left: -47px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 360px;
    margin-left: -35px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 160px;
    margin-left: -22px;
  }
}.u-section-2 {
  background-image: url("images/covid_logo1.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 314px;
}

.u-section-2 .u-text-1 {
  margin: 73px 967px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 767px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 547px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 367px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 94px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 167px;
  }
}.u-section-3 {
  min-height: 567px;
}

.u-section-3 .u-text-1 {
  margin: 0 278px 0 279px;
}

.u-section-3 .u-slider-1 {
  min-height: 567px;
  margin-top: -127px;
  margin-bottom: -88px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/boss.jpg");
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 3rem;
  background-image: none;
  animation-duration: 1000ms;
  font-weight: normal;
  margin: 351px 75px 0 auto;
  padding: 0;
}

.u-section-3 .u-image-2 {
  background-image: url("images/employee.jpg");
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 3rem;
  background-image: none;
  animation-duration: 1000ms;
  margin: 350px 74px 0 auto;
  padding: 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 59px;
  height: 59px;
  background-image: none;
  left: 0;
  right: auto;
  position: absolute;
}

.u-section-3 .u-carousel-control-2 {
  width: 59px;
  height: 59px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 743px;
    margin-left: 179px;
    margin-right: 178px;
  }

  .u-section-3 .u-slider-1 {
    height: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
    margin-top: 60px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-slider-1 {
    min-height: 366px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-slider-1 {
    min-height: 248px;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(51,51,51,0.75), rgba(51,51,51,0.75)), url("images/doctors.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 665px;
}

.u-section-4 .u-text-1 {
  margin: 29px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 29px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 548px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 420px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 315px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 198px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1058px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 12px 0 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 138px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 60px 15px 0;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  line-height: 39.6px;
  text-transform: none;
  font-weight: 400;
  margin: 20px 257px 0 317px;
}

.u-section-5 .u-icon-1 {
  height: 47px;
  width: 47px;
  margin: -39px auto 0 250px;
}

.u-section-5 .u-image-1 {
  min-height: 706px;
  background-image: url("images/__flowchart.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 113px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 267px;
    margin-right: 207px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 20px;
    margin-right: 207px;
    margin-left: 267px;
  }

  .u-section-5 .u-image-1 {
    min-height: 583px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 949px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -39px;
    margin-right: auto;
    margin-left: 250px;
  }

  .u-section-5 .u-image-1 {
    min-height: 447px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 817px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 187px;
    margin-right: 127px;
  }

  .u-section-5 .u-image-1 {
    min-height: 670px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 87px;
    margin-right: 27px;
    font-size: 1.5rem;
  }

  .u-section-5 .u-image-1 {
    min-height: 422px;
  }
}